    <footer>
        <section id="contact">
            <h2>Contact și Locație</h2>
            <address>
                Tel: <a href="tel:+40712345678">0712 345 678</a><br>
                Adresă: <a href="https://maps.app.goo.gl/k98kM..." target="_blank">Strada Academiei 14,<br>Sector 1, București</a><br>
                Email: <a href="mailto:contact@retrofitvag.ro">contact@retrofitvag.ro</a><br>
                <a href="https://wa.me/40712345678" target="_blank"><i class="fa-brands fa-whatsapp"></i> Scrie pe WhatsApp</a>
            </address>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2848.8453009363363!2d26.0975618!3d44.4358899!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x0!2z!5e0!3m2!1sro!2sro!4v1" allowfullscreen="" loading="lazy"></iframe>
        </section>
        <p><a href="#sus">&#8593; Înapoi la începutul paginii</a></p>
        <p><small>Copyright &copy; <time datetime="2026-03-15">15 martie 2026</time> Licaret Matei</small></p>
        <p class="banner-scoala">Acesta este un proiect școlar!</p>
    </footer>
